
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:10%">

    @using (@Html.BeginForm())
    {
        <img style="width:30%" src="~/Images/Joole.png" />
        <h3>Building Product Selection Platform</h3>
        @Html.DropDownList("Category", null, "", new { @class = "btn btn-secondary dropdown-toggle" })

        <input type="search" id="searchBox" style="width:250px" name="term" />
        <input type="submit" value="Search" class="btn btn-primary" />
    }
    <!-- the code should go around here, geting data from viewbag, and creating sublist, and then getting the last thing after the user put some query in the search box and click on search-->
    @section scripts{
        <script>

                //console.log(idPAss);
                $("#searchBox").autocomplete({
                    source: function (request, response) {
                        var dat = JSON.stringify({
                            'term': $("#searchBox").val(),
                            'Category': $("#Category").val(),

                        });
                        $.ajax({
                            data: {
                                'term': $("#searchBox").val(),
                                'Category': $("#Category").val()
                            },
                            url: '@Url.Action("Autocomplete","Search")',
                            dataType: "json",
                            contentType: "application/json;charset=utf-8",
                            success: function (data) {
                                var parsed = JSON.parse(data);
                                var newArray = [];
                                var i = 0;
                                $.each(parsed, function (key, val) {
                                    newArray[i] = val;
                                    i++;
                                });
                                console.log(newArray);
                                response(newArray);
                            },
                            error: response
                        });
                        console.log(response);
                    },
                    minLength: 1
                });

        </script>
    }
</div>

